# [Database Config]
PERSISTENCE_R2DBC_URL=r2dbc:mssql://localhost:1433/databaseName
PERSISTENCE_USER=username
PERSISTENCE_PASS=password

# [Pool]
DB_SCHEMA=dbo
DB_POOL_INITIAL_SIZE=1
DB_POOL_MAX_SIZE=10
DB_POOL_MAX_IDLE_TIME=10m
DB_POOL_MAX_ACQUIRE_TIME=15s

# [Stored Procedures]
SP_TIMEOUT=30s
SP_MAX_ROWS=1000

# [Logging]
R2DBC_LOG_LEVEL=INFO
R2DBC_POOL_LOG_LEVEL=INFO

# [Multiple Database]
PERSISTENCE_ONE_R2DBC_URL=r2dbc:mssql://localhost:1433/databaseNameOne
PERSISTENCE_ONE_USER=username
PERSISTENCE_ONE_PASS=password

PERSISTENCE_TWO_R2DBC_URL=r2dbc:mssql://localhost:1433/databaseNameTwo
PERSISTENCE_TWO_USER=username
PERSISTENCE_TWO_PASS=password

PERSISTENCE_THREE_R2DBC_URL=r2dbc:mssql://localhost:1433/databaseNameThree
PERSISTENCE_THREE_USER=username
PERSISTENCE_THREE_PASS=password

PERSISTENCE_FOUR_R2DBC_URL=r2dbc:mssql://localhost:1433/databaseNameFour
PERSISTENCE_FOUR_USER=username
PERSISTENCE_FOUR_PASS=password