# [Database Config]
PERSISTENCE_R2DBC_URL=r2dbc:mssql://localhost:1433/databaseName
PERSISTENCE_USER=username
PERSISTENCE_PASS=password

# [Pool]
DB_SCHEMA=dbo
DB_POOL_INITIAL_SIZE=1
DB_POOL_MAX_SIZE=10
DB_POOL_MAX_IDLE_TIME=10m
DB_POOL_MAX_ACQUIRE_TIME=15s

# [Stored Procedures]
SP_TIMEOUT=30s
SP_MAX_ROWS=1000

# [Logging]
R2DBC_LOG_LEVEL=INFO
R2DBC_POOL_LOG_LEVEL=INFO